<% @posts.each do |post| %>
  <p>
  	<%= post.content %> / <%= post.created_at %>
	  <% if post.image.attached? %>
	  	<span><%= link_to("画像", "/posts/#{post.id}") %></span>
	  <% end %>
  </p>
<% end %>