<% if flash[:sucsess] %>
  <%= flash[:sucsess] %>
<% end %>

<% @posts.each do |post| %>
  <% if post.image.attached? %>
	<%= link_to(image_tag(post.image), "/posts/#{post.id}") %>
  <% end %>
  <p><%= post.content %> - <%= post.created_at %></p>
<% end %>