<h1>新規投稿 - newPost</h1>
<%= form_with model: @post, url: posts_create_path, local: true do |form| %>
	<p><%= form.text_field :content %></p>
	<p><%= form.file_field :image %><br></p>
	<%= form.submit %>
<% end %>